@use './libs/bootstrap-reboot.min.scss';

@font-face {
	font-weight: normal;
	font-family: 'Gerbera';
	font-style: normal;
	src: url('/fonts/Gerbera.eot');
	src: url('/fonts/Gerbera.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Gerbera.woff') format('woff'),
		url('/fonts/Gerbera.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
    margin: 0;
    padding: 0;
}

a:visited, 
a:hover, 
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Gerbera';
}



// .container {
// 	width: 1440px;
//     margin: 0 auto;
//     padding: 0;
// }



// @media (max-width: 1440px) 
//     .container 
//         max-width: 1200px
    

// @media (max-width: 1200px) 
//     .container 
//         max-width: 968px


// @media (max-width: 992px) 
//     .container 
//         max-width: 695px
    

// @media (max-width: 767px) 
//     .container 
//         max-width: 540px
    

// @media (max-width: 576px) 
//     .container 
//         max-width: 100%
//         padding: 0 15px
    

// @media (max-width: 375px) 
//     .container 
//         max-width: 100%
//         padding: 0 15px
